@import "typo", "color", "media";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  color: $white;
  overflow-y: hidden;
}

.slick-list,
.slick-slide,
.slick-active,
.slick-current {
  border-radius: 15px;
}

.slick-dots {
  opacity: 1;

  .slick-active button {
    background: $red !important;
  }
}
