@use "../color" as *;
@use "../media" as res;

.layout {
  background: color(black, light);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 55px 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav header"
    "nav content";
  row-gap: 0px;
  column-gap: 0px;

  .layout-header {
    grid-area: header;
    padding: 12px;
    background: $black;
    border-bottom: 2px solid rgba($color: color(menu, light), $alpha: 1);
  }

  .layout-nav {
    grid-area: nav;
    max-width: 90px;
    min-width: 90px;
    background: $black;
    border-right: 2px solid rgba($color: color(menu, light), $alpha: 1);
  }

  .layout-content {
    grid-area: content;
    padding: 12px;
    background: $black;
    overflow-y: auto;
  }
}
