@use "../color" as *;
@use "../media" as res;

.navbar {
  width: 100%;

  .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;

    .logo {
      position: relative;
      height: 100%;
      width: 70px;

      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }

  .menuitem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    padding: 0 12px;
    margin: 12px 0;

    .menutitle {
      font-size: 13px;
      font-weight: 600;
      text-transform: capitalize;
      //   color: #484f6c;
      color: $white;
      padding: 4px 12px;
    }

    .menubutton {
      border: none;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 12px;
      width: auto;
      height: auto;
      color: $white;
      background: color(menu, light);

      .menubutton-icon {
        font-size: 16px;
        color: #ff3131;
      }

      .buttonlabel {
        color: $white;
        text-transform: capitalize;
        font-weight: 600;
        margin-inline-start: 4px;
      }

      &:hover {
        background: color(menu, base);
      }

      // &-active {
      //   @extend .menubutton;
      //   color: $background;
      //   background: #2e73c2;

      //   .buttonlabel {
      //     color: $background;
      //     text-transform: capitalize;
      //     font-family: "Poppins";
      //   }
      // }
    }
  }
}
